.associados-main {
    background-color: #F1F2F2;
    padding: 7rem 0;
}

.associados-letra {
    font-size: 2.2rem;
    padding: 1rem 0;
}

.associados-nome {
    font-size: 1.6rem;
    font-weight: 400;
}

section.associados {
    /* max-height: 290rem; */
    column-count: 2;
}

@media(max-width: 426px) {
    section.associados {
        column-count: 1;
        max-height: unset;
    }
}