.library-banner h3 {
    text-align: center;
    color: #FA5B37;
    font-size: 3rem;
    padding: 9.5rem 0 6rem;
}

.library-banner-img {
    display: block;
    margin: 0 auto;
}

.library-text-box {
    padding-top: 6rem;
}

.library-text {
    font-size: 1.6rem;
    padding: 0 0 2rem;
    font-weight: bold;
}

.library-text-img {
    display: flex;
    flex-wrap: wrap;
}

.library-text-img .library-text {
    max-width: 54rem;
}

.library-text-img .library-text-box {
    padding: 0;
}

.library-text-img figure {
    flex: 1 1 30rem;
}

.library-text-img figure img {
    width: 95%;
}

.library .blue-section-item {
    flex: 1 0 30%;
}

.library .blue-section-item span {
    text-align: center;
    max-width: 15rem;
    line-height: 3.4rem;
    font-weight: normal;
}

.library .blue-section-item p {
    font-size: 3rem;
    color: #FA5B37;
}

.depositions h3 {
    color: #FA5B37;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 4rem;
}

.depositions-text {text-align: center;font-size: 1.6rem;}

.depositions-slider-item {
    max-width: 92rem;
    width: 100%;
}

.depositions-slider-box {
    display: flex;
    justify-content: center;
}

.depositions-person {
    text-align: center;
    padding-top: 3rem;
    font-size: 1.6rem;
    color: #FA5B37;
}

.library-gallery {
    padding-top: 11rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.library-gallery figure {
    flex: 1 1 50%;
    margin: 0;
    max-width: 44.5rem;
    margin-bottom: 5rem;
}

.library-gallery figure img {
    width: 100%;
}

.library-gallery figure:nth-child(odd) {
    margin-right: 3rem;
}

@media(max-width: 769px) {
    .library-gallery figure:nth-child(odd) {
        margin-right: 0rem;
    }
    .library-gallery.wrapper {
        flex-direction: column;
        align-items: center;
    }

    .library-banner.wrapper {
        padding-bottom: 4rem;
    }
}