section.curriculum {
    border-top: 1.4rem solid #4299E9;
}

h2.curriculum-title {
    font-size: 3rem;
    color: #FA5B37;
}

.curriculum-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 7rem;
}

p.curriculum-title {
    font-size: 2rem;
    color: #fff;
    background: #FA5B37;
    padding: 1rem 1.5rem;
    margin: 2rem 0px 0px;
}

.curriculum-box-text {
    display: flex;
    padding: 1rem 0 1rem 2rem;
}

p.curriculum-label {
    max-width: 21rem;
    width: 100%;
    font-size: 1.4rem;
}

p.curriculum-text {
    font-size: 1.4rem;
    font-weight: normal;
    padding: 0 2rem;
}

.curriculum-content {
    padding: 2rem 0;
}

@media(max-width: 768px) {
    p.curriculum-label {
        max-width: 16rem;
    }
}