.union-guide-action-box ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.union-guide-action-box ul li {
    margin-bottom: 2rem;
    position: relative;
    padding: 0 0 2rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.union-guide-action-box ul li::before {
    content: '';
    background-image: url(../../images/icons/check-icon.svg);
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    position: absolute;
    left: 0;
}

section.union-guide.wrapper {
    padding: 10rem 0 6rem;
}

.union-guide-item {
    position: relative;
    max-width: 44.5rem;
    width: 100%;
    height: 44.5rem;
    padding: 0 0 3rem;
}

.union-guide-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img.union-guide-bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
    z-index: 0;
}

p.union-guide-item-title {
    font-size: 2.4rem;
    color: #FA5B37;
    text-align: center;
    padding: 3rem 0 4rem;
    position: relative;
    z-index: 1;
}

img.union-guide-icon {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

p.unio-guide-item-text {
    font-size: 1.6rem;
    text-align: center;
    padding: 3rem 1rem 3rem;
    position: relative;
    z-index: 1;
}

a.union-guide-btn {
    display: flex;
    margin: 0 auto;
    color: #fff;
    background-color: #FA5B37;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    max-width: 36rem;
    width: 100%;
    height: 8.5rem;
    font-size: 2rem;
    text-decoration: none;
}

p.union-guide-text {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 8rem;
}

section.union-guide-actions {
    background-color: #E4F2FF;
    padding: 3rem 0 5rem;
}

p.union-guide-action-text {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

p.union-guide-action-title {
    font-size: 2.4rem;
    color: #FA5B37;
    text-align: center;
    padding-bottom: 4.5rem;
}

a.beneficios-btn.union-guide {
    margin: 9rem auto 40rem;
}

@media(max-width: 769px) {
    .union-guide-item {
        margin-top: 5rem;
    }
}

@media(max-width: 426px) {
    .union-guide-action-box ul li::before {
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
    }
}

@media(max-width: 376px) {
    p.union-guide-item-title {
        padding: 1rem 0 2rem;
    }
    
    img.union-guide-icon {
        max-width: 10rem;
    }
    
    p.unio-guide-item-text {
        padding: 2rem 1rem 1rem;
    }
    
    a.union-guide-btn {
        height: 7rem;
    }
}