.slider-item {
    width: 100%;
    max-height: 55rem;
}

.associe-title {
    font-size: 3.6rem;
    color: #0D4A82;
    text-transform: uppercase;
    padding: 5.2rem 0 3rem 0;
    text-align: center;
}

.associe-text {
    font-size: 1.8rem;
    text-align: center;
    color: #202020;
    padding-bottom: 4.5rem;
}

.associe-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9.5rem;
}

.associe-cards-box {
    flex: 1 1 30rem;
    max-width: 44.5rem;
}

.associe-bg-image {
    position: absolute;
    z-index: 0;
    width: 100%;
    opacity: 0.5;
    max-height: 32.5rem;
}

.associe-cards-images {
    height: 32.5rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
}

.associe-img-logo {
    position: relative;
    padding-top: 6rem;
    z-index: 1;
}

.associe-card-text {
    position: relative;
    background-color: #FA5B37;
    height: 12rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.associe-card-parag {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.associe {
    padding-bottom: 8rem;
}

.banco-emp {
    display: flex;
}

.banco-emp-box {
    flex: 1 1 30rem;
}
.banco-emp-left {
    background: linear-gradient(30deg, #0A023D, transparent), url(../../images/home/Intersect-left.png);
}

.banco-emp-right {
    background: linear-gradient(30deg, #0A023D, transparent), url(../../images/home/Intersect-right.png);
}

.banco-emp-title {
    color: #FBB80D;
    font-size: 3.6rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 4rem 0;
}

.banco-emp-icon-box {
    display: flex;
    justify-content: center;
}

.banco-emp-type {
    color: #fff;
    font-size: 3rem;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.banco-emp-login {
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    padding-bottom: 2.5rem;
}

.banco-emp-search {
    background-color: #FA5B37;
    color: #fff;
    text-decoration: none;
    display: flex;
    max-width: 34.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 8rem;
    font-size: 2rem;
    margin: 0 auto;
}

.banco-emp-sing-up {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2.6rem;
    padding-bottom: 3.2rem;
}

.tv-title {
    color: #6C288C;
    font-size: 3.6rem;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.tv-text {
    font-size: 1.8rem;
    text-align: center;
    color: #202020;
    padding-bottom: 2rem;
}

.tv-video iframe {
    max-width: 73rem;
    height: 41.5rem;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.tv {
    padding-bottom: 10rem;
}

.box-global {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.boxes {
    max-width: 35rem;
    width: 100%;
    height: 35rem;
}

.box-title {
    text-transform: uppercase;
    color: #fff;
    background-color: #4299E9;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 15rem;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.box-text {
    padding-top: 10rem;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    max-width: 20rem;
    text-align: center;
    transition: .3s all;
}

.boxes:hover .box-text {
    padding-top: 8rem;
}

.box-text:after {
    content: '';
    display: block;
    width: 80%;
    height: 0.1rem;
    margin: 1.5rem auto 0 auto;
    background-color: #FCCF00;
    transition: .3s all;
    opacity: 0;
}

.box-parag {
    padding-top: 2rem;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 20rem;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: 2s all;
}

.boxes:hover .box-parag {
    opacity: 1;
}

.boxes:hover .box-text:after {
    opacity: 1;
}

.box-global {
    padding-bottom: 8rem;
}

.boxes-pdf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-pdf-item {
    flex: 1 1 30rem;
    padding-bottom: 2rem;
    max-width: 54rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-pdf-text {
    padding: 3rem 3rem 2rem 3rem;
    color: #fff;
    font-size: 3rem;
}

.box-pdf-link {
    color: #fff;
    margin-left: 3rem;
    font-size: 1.8rem;
    text-decoration: none;
}

.boxes-container {
    padding-bottom: 11.5rem;
}

.parceiros-title {
    text-align: center;
    text-transform: uppercase;
    color: #FA5B37;
    font-size: 3.6rem;
    padding-bottom: 1rem;
}

.parceiros {
    padding-bottom: 8rem;
}