.frame {
    margin-bottom: 25.179rem;
}

.frame-conteudo {
    max-width: 91.17rem;
    width: 100%;
    height: 82.6rem;

    margin: 0 auto;
    display: block;
}

.frame-conteudo-mobile {
    display: none;
}

/* mobile */

@media (max-width: 900px) {
    .frame-conteudo {
        display: none;
    }

    .frame-conteudo-mobile {
        display: block;
    }

    .frame-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;

        padding: 50px 0;
    }

    .frame-box:not(:last-of-type) {
        border-bottom: 1px solid #1890FF;
    }

    .frame-box img {
        max-width: 50px;
    }

    .frame-box p {
        max-width: 200px;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
    }
}

/* Sindrigraf */

.missao-objetivos-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.blue-section-sindigraf {
    margin: 10.9rem 0 18.7rem;
}

.blue-section-sindigraf img {
    margin: 4.9rem auto 0;
}

.blue-section-sindigraf p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    max-width: 77.5rem;
    margin: 4.1rem auto 3rem;
}