.result-item p {
    font-size: 2rem;
    padding: 1rem 0;
}

.result-item a {
    font-size: 1.6rem;
    color: #FA5B37;
    text-decoration: none;
}

.result-item {
    padding: 1rem 0;
    border-bottom: 1px solid #cecece;
    margin-bottom: 1rem;
}

section.results.wrapper {
    padding: 5rem 0;
}